extends layout

block content
  h1= title
  - let foods=results
  div(class="container-fluid mt-3")
  div(class="row")
    each food,index in foods
        div(class="col-sm-4 bg-info m-1 p-3" style=("font-weight:bolder")  onclick=`buy(${index})`) #{food.foodname} - #{food.type} - #{food.cost} - #{food.flavor}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }